@model GomelRectorCouncil.Models.Document

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocumentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocumentDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocumentURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chairperson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Chairperson.ChairpersonId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DocumentId">Изменить</a> |
    <a asp-action="Index">Вернуться</a>
</div>
