@{
    ViewData["Title"] = "Пользователи";
}

<h2>Пользователи</h2>

<p>
    <a asp-action="Create">Создать пользователя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            Код    
            </th>
            <th>
            Імя    
            </th>
            <th>
            Адрес    
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Users)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>