@model GomelRectorCouncil.Models.Achievement

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Achievement</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="AchievementId" />
        <dt>
            @Html.DisplayNameFor(model => model.IndicatorValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndicatorValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Indicator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Indicator.IndicatorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Univercity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Univercity.UniversityId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            <a asp-action="Index">Вернуться</a>
        </div>
    </form>
</div>
