@model GomelRectorCouncil.Models.Achievement

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подробности</h2>

<div>
    <h4>Achievement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IndicatorValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndicatorValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Indicator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Indicator.IndicatorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Univercity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Univercity.UniversityId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AchievementId">Изменить</a> |
    <a asp-action="Index">Вернуться</a>
</div>
