@model IEnumerable<GomelRectorCouncil.Models.Achievement>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IndicatorValue)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Indicator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Univercity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IndicatorValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indicator.IndicatorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Univercity.UniversityId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AchievementId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.AchievementId">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.AchievementId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
