@model IEnumerable<GomelRectorCouncil.Models.Rector>

@{
    ViewData["Title"] = "Совет ректоров Гомельской области";
}

<h2>Университеты</h2>
<p>
    <a asp-action="Create">Добавить</a>
</p>
<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
             @Html.DisplayNameFor(model => model.University.UniversityName)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.University.Address)    
            </th>
            <th>
            @Html.DisplayNameFor(model => model.FullName)   
    
            </th>

            <th>
            @Html.DisplayNameFor(model => model.University.Website)    

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src=@item.University.Logo>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.University.UniversityName)
                </td>
                <td>                    
                </td>
                     @Html.DisplayFor(modelItem => item.University.Address)
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.University.Website)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.UniversityId">Изменить</a> |
                    <a asp-action="Delete" asp-route-id="@item.UniversityId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
 