@model IEnumerable<GomelRectorCouncil.Models.Rector>

@{
    ViewData["Title"] = "Совет ректоров Гомельской области";
}

<h2>Университеты</h2>


<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
             @Html.DisplayNameFor(model => model.University.UniversityName)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.University.Address)    
            </th>
            <th>
            @Html.DisplayNameFor(model => model.FullName)       
            </th>
            <th>
            @Html.DisplayNameFor(model => model.University.Website)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src=@item.University.Logo>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.University.UniversityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.University.Address)
                </td>                     
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    <a href="http:\\@item.University.Website" target="_blank">@Html.DisplayFor(modelItem => item.University.Website)</a>
                </td>

            </tr>
        }
    </tbody>
</table>
 