@model IEnumerable<GomelRectorCouncil.Models.Chairperson>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AppointmentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StopDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Rector)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StopDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rector.FirstMidName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChairpersonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChairpersonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChairpersonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
