@model IEnumerable<GomelRectorCouncil.Models.Document>

@{
    ViewData["Title"] = "СРГО";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Документы Совета</h2>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegistrationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentURL)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Chairperson.Rector.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chairperson.Rector.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocumentId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.DocumentId">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.DocumentId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
