@model GomelRectorCouncil.Areas.Admin.ViewModels.IndicatorsViewModel

@{
    ViewData["Title"] = "СРГО";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" language="javascript">
    fireSubmit = function (event) {
                document.searchForm.onsubmit = function () {return true;};
                document.searchForm.submit();
            }
    confirmFillDataForUniversities = function (event) {
        document.searchForm.onsubmit = function () { return true; };
        var ev = document.getElementById("AchievementsCount").value;
        if (ev > 0) {
            if (confirm("Все данные университетов за заданный год будут изменены. Вы подтверждаете выполнение?"))
                document.searchForm.submit()
            else document.searchForm.onsubmit = function () { return false; }
        }
        else {
            document.searchForm.submit();  
        }
    };
</script>
<h2>Показатели для подведения итогов </h2>
<form name="searchForm" method="post">
    <input type="hidden" name="AchievementsCount" id="AchievementsCount" value=@Model.AchievementsCount>
    <div class="form-inline form-group">
        <label class="col-md-2 control-label">Год</label>
        <div class="col-md-10">
            @Html.DropDownList("currentYear", Model.ListYears as SelectList,
                htmlAttributes: new { @class = "form-control", onchange = "fireSubmit(event)" })
        </div>
        <div class="col-md-10">
            <button name="action" value="FillDataForUniversities" class="btn btn-default" onclick="confirmFillDataForUniversities(event)">
                Загрузить показатели университетам</button>
            <button name="action" value="FillDataFromLastYear" class="btn btn-default" onclick="fireSubmit(event)">
                Загрузить из прошлого года</button>
        </div>
        Запретить изменения
        @Html.CheckBox("disableForEdition", true, htmlAttributes: new { @class = "form-control", onchange = "fireSubmit(event)" })

    </div>
</form>
<p>
    <a asp-action="Create" class="col-md-2 control-label" asp-route-id="@Model.ListYears.SelectedValue">Добавить</a>
</p>



<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Indicators.FirstOrDefault().IndicatorId1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Indicators.FirstOrDefault().IndicatorId2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Indicators.FirstOrDefault().IndicatorId3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Indicators.FirstOrDefault().IndicatorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Indicators.FirstOrDefault().IndicatorUnit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Indicators.FirstOrDefault().IndicatorType)
                </th>
                
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Indicators) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IndicatorId1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndicatorId2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndicatorId3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndicatorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndicatorUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndicatorType)
            </td>
           

            <td>
                @if (Model.EnableForEdition)
                {
                    <a asp-action="Edit" asp-route-id="@item.IndicatorId">Изменить</a>
                    <a asp-action = "Delete" asp-route-id = "@item.IndicatorId" > Удалить </a>
                }
                <a asp-action="Details" asp-route-id="@item.IndicatorId">Подробно</a>
            </td>
        </tr>
}
    </tbody>
</table>
